.wd-left-bar{
    width: 75%;
    float: right;
}
.wd-left-bar2{
    width: 50%;
    float: right;
}

.wd-tuit-btn-override{
    width: 100%;
}

.wd-inputbar{
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.wd-inputbar-pad{
    padding-top: 5px;
    padding-left: 10px;
}

.wd-color-black{
    color: black;
}

.wd-settings{
    display: flex;
    padding-top: 2px;
    justify-content: center;
}

.wd-heading{
    padding-left: 25px;
    padding-top: 5px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #212529;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.fa-2x.override-bs {
    font-size: 1.5em;
    color: deepskyblue;
}

.wd-image-design {
    float: right;
    height: 90px;
    width: 90px;
    border-radius: 15px;
    margin:5px;
}

.img-fluid.override-ig {
    margin: 0px;
    padding: 10px;
}

.list-group-item.lgi-override {
    border: 0px solid white;
    height:60px;
}

.list-group-item.lgi-override.active {
    border: 0px solid white;
    height:60px;
    z-index: 2;
    color: #090909;
    font-weight: bold;
    background-color: white;
}
list-group-item.list-group-item-action.active {
    font-weight: bold;
}

.row.row-override {
    border: 0px solid white;
}
.border.border-override {
    border: 0px solid white;
}

.navbar-inner.wd-topnav a {
    text-align: center;
    padding: 16px;
    font-size: 15px;
    display: inline-block;
    height: 45px;
    font-family: arial;
    font-color: black;
    text-decoration: none;
    color:gray;
}

.nav-link.active.nla-override {
    border-bottom: solid rgb(29,161,242) 3px;
    font-weight: bold;
    color:whitesmoke;
}
.navbar-inner.wd-topnav {
    overflow: hidden;
    height: 45px;
    width: 100%;
    margin-left: 15px;
}
.border-override {
    border:0;
}
.col-3.wd-image{
    padding : 20px;
    border-radius: 20%;
}

.wd-card-img-text {
    font-weight: bold;
    font-size: 30px;
}
.col-9.pt-2.pt-override {
    padding: 10px;
}

.fas.fa-check-circle.fa-check-circle-override {
    color: deepskyblue;
}

.btn.btn-primary.text-center.btn-block.rounded-pill.mt-2.follow-btn-override {
    width:100%;
}

.fas.fa-check-circle.icon-override {
    color:deepskyblue;
}

.col-3.wd-image{
    padding : 20px;
    border-radius: 20%;
}

/*// Bookmarks css*/

* {
    box-sizing: border-box;
}
.wd-left-border{
    float: left;
    width: 3%;
    padding: 10px;
    height: 800px;
    background-color:black;
}

.wd-main-div {
    display: table;
    border-collapse: collapse;
    float: left;
    width: 600px;
    padding: 10px;
    height: 610px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-main-header {
    float: left;
    width: 600px;
    height: 80px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    height: 70px;
}

.wd-bookmarks{
    color:white;
    position: absolute;
    margin-left: 16px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

.wd-webdevtext{
    color:lightgray;
    position: absolute;
    margin-left: 16px;
    margin-top: 15px;
    font-size: 13px;
}

.wd-bookmark-content{
    float: left;
    width: 600px;
    height: 630px;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: rgb(47, 51, 54);*/
}

.wd-avatar-div{
    float: left;
    width: 48px;
    height: 700px;
    margin-left: 16px;
}

.wd-avatar-img{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-top: 12px;

}

.wd-main-body-text-div {
    border-collapse: collapse;
    padding-top: 12px;
    padding-right: 16px;
    margin-left: 76px;
    height: 600px;
    width: 520px;
}

.wd-main-body-text{
    padding-left: 0px;
    width: 506px;
}

.wd-bg-color-black {
    background-color: black;
}
.wd-margin-left {
    margin-left: 16px;
}

.wd-margin-top {
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}

.wd-float-left {
    float: left;
}

.wd-search-bar {
    border-radius: 50px;
    border: none;
    background-color: rgb(169,169,169);
    float: left;
    width: 90%;
    height: 25px;
    margin-top: 6px;
    margin-left: 16px;
    padding-left: 2.5%;
}

.wd-graytext{
    color: rgb(110, 118, 125);
}

.wd-gray-handle{
    color:lightgray;
    font-size: 15px;
}

.wd-bg-color-black {
    background-color: black;
    font-family: arial;
}

.wd-lorem-img{
    height:264px;
    width: 504px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wd-image-text{
    padding: 10px;
}
.wd-image-div-property{
    padding: 10px;
}

.wd-image-body{
    border-width: 1px;
    border-style: solid;
    width: 506px;
    border-color: rgb(47, 51, 54);
    border-radius: 20px;
    /*margin-top: 12px;*/
}

.wd-icons {
    display: table;
    border-collapse: collapse;
    float: right;
    width: 480px;
    padding-left: 5px;
    padding-top: 12px;
    margin-top: 12px;
    margin-left: 100px;
}

.wd-icon-style {
    float: left;
    width: 25%;
    padding-right: 12px;
    height: 33px;
}

.wd-ellipsis{
    color:lightskyblue;
    float: right;
    margin-right: 16px;
}

.wd-text-color {
    color:white;
}
.wd-author-white {
    font-size: 15px;
}

.wd-red-icon {
    color: red;
}
.wd-grey-icon {
    color: lightgray;
}
.wd-count {
    font-size:15px;
    padding-right: 12px
}

.wd-font-size-15px {
    font-size:15px;
}
.wd-title {
    font-weight: bold;
    color: #d9cbcb;
}